#container
    - var nav_cls = {}
    - nav_cls.index = nav_cls.about = nav_cls.talk = ''
    - nav_cls.actinfo = nav_cls.join = nav_cls.contact = ''
    block vars
    .ui.fluid.seven.item.menu
        a(class="item #{ nav_cls.index }",href="/index.html")
          | 首頁
        div(class="ui pointing dropdown link item #{ nav_cls.about }")
          | 關於
          .menu
            a.item(href="/about.html")
              | 關於 g0v
            a.item(href="/manifesto.html")
              | 零時政府宣言
            a.item(href="/media.html")
              | 媒體報導
            a.item(href="http://blog.g0v.tw")
              | 部落格
              i.external.url.icon
            a.item(href="/faq.html")
              | 常見問題
            a.item(href="/transaction.html")
              | 收支明細
        .ui.pointing.dropdown.link.item
          | 專案列表
          .menu
            a.item(href="http://hack.g0v.tw/project/")
              | 成果列表
              i.external.url.icon
            a.item(href="https://g0v.hackpad.com/")
              | 開發中專案
              i.external.url.icon
            a.item(href="http://data.g0v.tw")
              | g0v資料開放平臺
              i.external.url.icon
        div(class="ui pointing dropdown link item #{ nav_cls.join }")
          | 加入行動
          .menu
            a.item(href="/join.html")
              | 如何參與
            a.item(href="/tools.html")
              | 常用工具
            a.item
              | 社群文化
            a.item(href="http://hack.g0v.tw/people")
              | 成員入口
              i.external.url.icon
            a.item(href="/links.html")
              | 相關連結
        a(class="item #{ nav_cls.talk }",href="/talk.html")
          | 演講資訊
        div(class="ui pointing dropdown link item #{ nav_cls.actinfo }")
          | 黑客松資訊
          .menu
            a.item(href="/actinfo.html")
              | 黑客松報名
            a.item(href="/actrecord.html")
              | 黑客松紀錄
        div(class="ui pointing dropdown link item #{ nav_cls.contact }")
          | 聯繫
          .menu
            a.item(href="/contact.html")
              | 聯繫社群

